# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Databases and logs
*.db
*.log
logs/

# Secrets and tokens
serviceAccountKey.json

# Git and build files
.git/
.gitignore

# PyInstaller
*.spec

# Docker itself
Dockerfile
.dockerignore
